{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container my-5">

    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <h1 class="text-center mb-5">Entradas del post {{post.titulo}}</h1>

    <div class="row justify-content-center">

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title mb-0">{{post.titulo}}</h4>
                    <small class="text-light">Autor: {{post.autor}}</small>
                </div>

                {% if post.imagen %}
                <img src="{{post.imagen.url}}" class="card-img-top"
                    style="object-fit: cover; width: 100%; height: 300px;" alt="Imagen de {{post.titulo}}">
                {% endif %}

                <div class="card-footer text-muted">
                    <p>Publicado el {{post.created|date:"d/m/y"}}</p>
                    <span>Categorías:</span>
                    <span class="ml-2">
                        {% for categoria in post.categorias.all %}
                        <span class="text-primary">{{ categoria.nombre }}</span>
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div>

        {% if comentarios %}

        {% for comentario in comentarios %}
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-light">
                <h5 class="card-title">{{comentario.autor}}</h5>
                <small class="text-muted">{{comentario.created|date:"d/m/y"}}</small>
            </div>
            <div class="card-body">
                <p>{{ comentario.texto }}</p>
            </div>

            <div class="card-footer">
                <a href="{% url 'DeleteComment' %}?comment_id={{comentario.id}}" class="btn btn-danger">Eliminar
                    comentario</a>
            </div>
        </div>

        {% endfor %}

        {% endif %}


        {% if user.is_authenticated %}
        <form action="" method="POST" enctype="form-data" class="p-4 border rounded bg-light">
            {% csrf_token %}

            <div class="form-group">
                {{ formularioComentario.texto.label_tag }}
                {{ formularioComentario.texto }}
            </div>

            <button type="submit" class="btn btn-primary mt-3 w-100">Comentar</button>
        </form>

        {% else %}
        <p>Debes <a href="{% url 'login' %}">iniciar sesion</a> para escribir comentarios</p>
        {% endif %}
    </div>
</div>
{% endblock %}